* { margin:0; padding:0; touch-action: none;} /* to remove the top and left whitespace */

html, body {
    width: 100%;
    height: 100%;
}

#drawing-canvas {
    display: block;
    width: 100%;
}

button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 17px;
}

select {
    background-color: green;
    border: none;
    color: white;
    font-size: 17px;
    padding: 15px;
    text-shadow: 2px 2px black;
    text-align: center;
}
option {
    background-color: white;
    color: black;
    font-size: 17px;
}

label {
    font-size: large;
    display: block;
    font-size: 17px;
}

#control {
    background-color: aliceblue;
    padding: 1rem;
    border-top: 2px solid;
    font-size: 17px;
}